<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <title>Listagem de clientes</title>
</head>

<body>
    <a class="d-inline" href="/">Início</a>
    <a class="d-inline" href="/cliente/criar/">Cadastrar cliente</a>
  <table class="mx-auto">
    <thead>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Telefone</th>
      <th>Editar</th>
      <th>Excluir</th>
    </thead>
    <tbody>
      {% for item in response %}
      <tr>
        <td>{{item.cliente_nome}}</td>
        <td>{{item.cliente_endereco}}</td>
        <td>{{item.cliente_telefone}}</td>
        <td><a href="/cliente/editar/{{item.id}}/">Editar</a></td>
        <td><a href="/cliente/excluir/{{item.id}}/"> Excluir</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>