<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Editar cliente</title>
</head>

<body>

  <form action="/cliente/editar/{{cliente.id}}/" method="POST" style="flex: 1; display: flex; flex-direction: column; width: 40%; margin: 0 auto;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <label for="cliente_nome">NOME</label>
      <input type="text" name="cliente_nome" id="cliente_nome" value="{{cliente.cliente_nome}}">
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <label for="cliente_endereco">ENDEREÇO</label>
      <input type="text" name="cliente_endereco" id="cliente_endereco" value="{{cliente.cliente_endereco}}">
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <label for="cliente_telefone">TELEFONE</label>
      <input type="text" name="cliente_telefone" id="cliente_telefone" value="{{cliente.cliente_telefone}}">
    </div>
    
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
      <button type="">Voltar</button>
      <button type="submit">Salvar</button>
    </div>
    </form>
</body>
</html>